    
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= @post.text %>
    </p>

    <h2>Comments:</h2>
    <% @post.comments.each do |comment| %>
      <p>
        <strong> <%= comment.commenter %>:</strong>
        <%= comment.body %>
      </p>
    <% end %>

    <div class="card my-1"> 
      <div class="card-body">
        <p class="font-weight-bold">Comments</p>
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
          <div class="form-group">
            <%= f.label 'Name' %>
            </br>
            <%= f.text_area :commenter, class: 'form-control' %>
          </div>
    </br>
          <div class="form-group">
            <%= f.label 'New comment' %>
            </br>
            <%= f.text_area :body, class: 'form-control' %>
          </div>

          </br>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
